<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/details.css}" />
    <link rel="stylesheet" th:href="@{/css/grupoFamiliarInfo.css}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <title>Socios | Ver</title>
  </head>
  <body>
    <header th:replace="nav.html"></header>
    <div class="main">
      <div class="details">
        <h1 class="details__title">Socios - <span th:text="${socio.nombre}"></span></h1>
        <div class="details__header">
          <h2 class="details__header-tittle">Detalles de Socio</h2>
          <a class="details__header-backbutton" th:href="@{/socios}"><i class="fas fa-long-arrow-alt-left"></i> volver</a>
        </div>
        <div class="details-container-flex">
          <div class="details_container-scroll">
            <div class="details-container">
              <h3 class="details__detailName">Codigo Socio</h3>
              <span class="details__detailInfo" th:text="${socio.codigo}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Numero de Documento</h3>
              <span class="details__detailInfo" th:text="${socio.dni}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Nombre</h3>
              <span class="details__detailInfo" th:text="${socio.nombre}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Apellido</h3>
              <span class="details__detailInfo" th:text="${socio.apellido}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Email</h3>
              <span class="details__detailInfo" th:text="${socio.email}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Direccion</h3>
              <span class="details__detailInfo" th:text="${socio.domicilio}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Telefono</h3>
              <span class="details__detailInfo" th:if="${socio.telefono==''}">No tiene telefono</span>
              <span class="details__detailInfo" th:if="${socio.telefono!=''}" th:text="${socio.telefono}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Fecha de Nacimiento</h3>
              <span class="details__detailInfo" th:text="${#dates.format(socio.fechaNacimiento, 'dd MMMM yyyy')}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Fecha de Alta</h3>
              <span class="details__detailInfo" th:text="${#dates.format(socio.fechaAlta, 'dd MMMM yyyy')}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Estado</h3>
              <span class="details__detailInfo" th:text="${socio.estado ? 'Activo/a':'Inactivo/a'}"></span>
            </div>

            <div class="details-container">
              <h3 class="details__detailName">Categoria</h3>
              <span class="details__detailInfo" th:text="${socio.categoria.nombre}"></span>
            </div>

            <div class="details-container">
              <h3 class="details__detailName">Socio Titular</h3>
              <span th:if="${socio.socioTitular != null}" class="details__detailInfo" th:text="${socio.socioTitular.codigo}+' - '+${socio.socioTitular.nombre}+' '+${socio.socioTitular.apellido}"></span>
              <span th:if="${socio.socioTitular == null}" class="details__detailInfo">No tiene socio titular</span>
            </div>
          </div>

          <div class="family-group-container" th:if="${(socio.categoria.id==1) and (socio.socioTitular==null)}">
            <div class="family-group__title">Grupo familiar</div>
            <div class="family-container" th:each="socio : ${familiares}">
              <div class="family__info" th:text="${socio.nombre}"></div>
              <div class="family__info" th:text="${socio.apellido}"></div>
              <div class="family__info">
                <a th:href="@{/socios/ver/{id}(id=${socio.id})}"><i class="fas fa-eye"></i>Ver</a>
              </div>
              <div class="family__info">
                <a th:href="@{/socios/edit/{id}(id=${socio.id})}"/> <i class="fas fa-edit"></i>Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
