<!-- Modal -->
<div class="modal confirm fade">
    <div class="modal-content-container">
        <div class="content-confirmPayment">
            <div class="modal-header">
                <h3 class="modal-title">¿ Desea confirmar el pago de la cuota ?</h3>
            </div>
            </div>
            <div class="modal-footer">
                <button class="modal-footer__button-confirm" type="submit">Confirmar pago y enviar recibo</button>
                <button class="modal-footer__button-cancel" type="button"  th:onclick="hiddenModalConfirm()">Cancelar</button>
            </div>
        </div>
    </div>
</div>