<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/details.css}" />
    <link rel="stylesheet" th:href="@{/css/grupoFamiliarInfo.css}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <title>Home</title>
  </head>
  <body>
    <header th:replace="nav.html"></header>
    <div class="main">
      <div class="details">
        <h1 class="details__title">Cuota  <span th:text="${cuota.numero} + '-' + ${cuota.socio.nombre} +' '+ ${cuota.socio.apellido}"></span></h1>
        <div class="details__header">
          <h2 class="details__header-tittle">Detalles de Cuota</h2>
          <a class="details__header-backbutton" th:href="@{/cuotas}"><i class="fas fa-long-arrow-alt-left"></i> volver</a>
        </div>
        <div class="details-container-flex">
          <div class="details_container-scroll">
            <div class="details-container">
              <h3 class="details__detailName">Numero</h3>
              <span class="details__detailInfo" th:text="${cuota.numero}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">fecha Caducidad</h3>
              <span class="details__detailInfo" th:text="${#dates.format(cuota.fechaCaducidad, 'dd MMMM yyyy')}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">fecha Creacion</h3>
              <span class="details__detailInfo" th:text="${#dates.format(cuota.fechaCreacion, 'dd MMMM yyyy')}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">fecha Pago</h3>
              <span class="details__detailInfo" th:text="${#dates.format(cuota.fechaPago, 'dd MMMM yyyy')}"></span>
            </div>
            <div class="details-container">
                <h3 class="details__detailName">Forma de Pago</h3>
                <span class="details__detailInfo" th:text="${cuota.formaPago}"></span>
            </div>
            <div class="details-container">
                <h3 class="details__detailName">Detalle de Pago</h3>
                <span class="details__detailInfo" th:text="${cuota.detallePago}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Importe</h3>
              <span class="details__detailInfo" th:text="${cuota.importe}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Socio</h3>
              <span class="details__detailInfo" th:text="${cuota.socio.codigo} +'-'+ ${cuota.socio.nombre} + '   ' + ${cuota.socio.apellido}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Categoria</h3>
              <span class="details__detailInfo" th:text="${cuota.categoria.nombre}"></span>
            </div>
            <div class="details-container">
              <h3 class="details__detailName">Estado</h3>
              <span class="details__detailInfo" th:if="${(cuota.fechaPago==null) and (cuota.fechaCaducidad.after(#dates.createNow()))}">PENDIENTE</span>
              <span class="details__detailInfo" th:if="${(cuota.fechaPago==null) and (cuota.fechaCaducidad.before(#dates.createNow()))}">CADUCADA</span>
              <span class="details__detailInfo" th:if="${(cuota.fechaPago != null)}">PAGADA</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
