<!-- Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-content-container">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Borrado</h5>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar este usuario?
                <input type="hidden" id="userIdHiddenInput" name="userIdHiddenInput"/>
            </div>
            <div class="modal-footer">
                <button class="modal-footer__button-cancel" type="button"  th:onclick="hiddenModal()">Cancelar</button>
                <button class="modal-footer__button-confirm" type="button" th:onclick="deleteUser()">Eliminar Usuario</button>
            </div>
        </div>
    </div>
</div>