body{
    font-family: 'Ubuntu', sans-serif;
    background: repeating-linear-gradient(-45deg,
    #000 0, #000e 40%,
    var(--color-predominant) 0, rgb(190, 143, 0) 100%);
    margin: 0;
}

:root{
    --color-predominant: rgb(255, 205, 0);
    --color-predominant-hover:rgb(0, 0, 0);
}

/*destok*/




.main{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.presentation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.76);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    box-shadow: 0 0 40px #000;
}

.presentation-tittleContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.presentation-container__img{
    object-fit:fill;
    width: 350px;
}

.presentation-container__tittle{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 22px;
    padding: 20px;
    order: 2;
}


.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.login h2{
    width: 100%;
    margin-left: 70px;
    margin-bottom: 40px;
}

.login{
    display: flex;
    flex-direction: column;
    background-color: #fff0;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 600px;

}

.login__input-container-for-two{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.login__input-container{
    position: relative;
}

.login__lbl{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.login__lbl-text{
    position: absolute;
    bottom: 33px;
    left: 24px;
    color: #000c;
    transition: .3s ease;
}

.login__lbl i{
    position: relative;
    margin: 42px 0 0 0;
}

.login__input:focus + .login__lbl .login__lbl-text,
.login__input:valid + .login__lbl .login__lbl-text{
    transform: translateY(-150%);
}



.login__input{
    position: relative;
    display: block;
    width:80%;
    margin: 18px;
    padding: 18px;
    outline: none;
    border: none;
    z-index: 20;
}


#login__code, #login__birth, #login__lastName,#login__email, #login__name, #login__phone, #login__dni, #login__address{
    background-color: #fff0;
    color: rgb(0, 0, 0);
    border-bottom:4px solid var(--color-predominant);
    outline: none;
    transition: 0.2s;
}

#login__code:focus,#login__birth:focus, #login__lastName:focus, #login__email:focus, #login__name:focus,#login__phone:focus, #login__dni:focus, #login__address:focus{
    border-bottom: 4px solid #000;
}

.login__submit{
    background-color: var(--color-predominant);
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.login__submit:hover{
    background-color: var(--color-predominant-hover);
}

.login__register{
    background-color: rgb(0, 0, 0);
    padding: 0;
    height: 63px;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.login__register a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;

}

.login__register:hover{
    background-color: rgb(65, 65, 65);
}
.login__options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#login__remember{
    margin: auto 5px;
    color: #fff;
}

.login__remember-container label{
    color: #000000;
}

.login__input-errors{
    position: absolute;
    width: 100%;
    color: #f00;
    top: 80px;
    left: 25px;
}

.login__input-formError{
    width: 100%;
    color: #f00;
    margin-left: 90px;
}