.modal{
    display: none;
}
.modal.show{
    display: flex;
    background-color: #0008;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal-title{
    font-size: 20px;
}

.modal-title i{
    padding: 5px;
}

.modal-content{
    background-color: #fff;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.modal-body{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    overflow: auto;
    max-height: 350px;
}

.error{
    position: relative;
    padding: 6px 0;
}
.modal-footer{
    display: flex;
    justify-content: right;
    padding: 10px;
}

.modal-footer__button-cancel{
    padding: 10px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 3px #000;
    border-radius: 30px;
    border: 1px solid #000;
    cursor: pointer;
}

.modal-footer__button-confirm{
    background-color: var(--color-predominant);
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 3px #000;
    border-radius: 30px;
    border: 1px solid #000;
    cursor: pointer;
}