<!-- Modal -->
<div class="modal fade show" th:if="${success}" id="errorModal">
    <div class="modal-content-container">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-check-circle"></i>Exito</h5>
            </div>
            <div class="modal-body">
                <p th:text="${success}"></p>
            </div>
            <div class="modal-footer">
                <button class="modal-footer__button-cancel" type="button"  th:onclick="hiddenModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>